/* Carousel */
.carousel{
  display: flex;
  height: 100%;
}
.carousel__track-container{
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}
.carousel__track{
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in-out;
}
.carousel__slide{
  display: none;
  position: absolute;
  visibility: hidden;
}
.carousel__button{
  cursor: pointer;
  background: transparent;
  border: 0;
}
.carousel__button--left{
  transform: translateX(-100%);
}
.carousel__button--right{
  right: 0;
}
.current-slide{
  display: flex;
  position: relative;
  visibility: visible;
  width: 100%;
}