.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
.rate > label {
    width:1em;
    font-size:30px;
    color:#585858;
}
.rate > label:before {
    content: '★ ';
}

.selected_rating:before{
    color: yellow;
}
