{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="К себе нежно книга о том где найти опору в наше время ? В  книге 'К себе нежно. Книга о том, как ценить и беречь себя' есть ответ - в себе.">
    <meta name="keywords" content="К себе нежно, книга, книга-учитель, книга-наставник, книга-медитация, непростое время, самопомощь, поддержка, Марафон нежности, Ольга Примаченко, лидер продаж, твёрдый переплёт, ванильные цитатки, книга женщине, поразмышлять">
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/landing.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Main/img/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>К тебе нежно</title>
    <style>
        body{
            background: url("{% static 'Main/img/к тебе нежно, обложка книги.webp' %}") no-repeat ;     
            background-size: contain;
        }
        .review{
            background: url("{% static 'Main/img/к тебе нежно, стилизованные сердечки.webp' %}") no-repeat;     
            background-attachment: scroll;
            background-position: 50% 50%;
            background-size: contain;
        }
    </style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4JEMYB8CVB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4JEMYB8CVB');
</script>
    <!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "Книга о том, как ценить и беречь себя",
      "image": "{% static 'Main/img/к тебе нежно, обложка книги.webp' %}",
      "author": {
        "@type": "Person",
        "name": "Ольга Примаченко"
      },
      "datePublished": "2020-09-01",
      "publisher": {
        "@type": "Organization",
        "name": "Бомбора"
      },
      "inLanguage": "Русский",
      "genre": "Психология, треннинг, мотивационная",
      "isbn": "978-5-04-117369-2",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "bestRating": "5",
        "worstRating": "3",
        "ratingCount": "99"
      },
      "review": {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "oz21957956"
        },
        "datePublished": "2023-06-23",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "5"
        },
        "reviewBody": "Замечательная книга. После прочтения книги понимаешь о том, как важно проживать свои эмоции, ценить себя, относиться к себе с любовью и нежностью. Ведь если ты относишься к себе с любовью и нежностью, понимаешь как с тобой можно, а как нельзя, то ты будешь с уважением относиться к праву других людей выссказывать свое мнение и быть собой.\n\nКнига &quot;к себе нежно&quot; - это не таблетка которая после ее прочтения изменит твою жизнь, но она станет инструментом, поможет человеку прийти к пониманию себя, марафон поможет раскрыть человеку свое я. Самое удивительное что очень многое в книге откликалось в моем сердце, я это знала - но забыла, или даже скорее боялась проявлять свою индивидуальность. Я очень рада что мне посоветовали почитать эту книгу, потому что она стала отправной точкой в дороге - ПОЗНАНИЕ СЕБЯ И РАСКРЫТИЕ ЛЮБВИ :)"
      }
    }
    </script>
</head>
<body>
    <div class="column_container wrapper">
        <div class="row_container column_container_element sticky_top">
            <div class="row_container_element__expanding"></div>
            <div class="row_container_element">
                <div class="row_container_element__expanding"></div>
                <div class="row_container row_container_element">
                    <div class="row_container row_container_element button_top">
                        <a href="https://oz.by/books/more10967153.html" class="cta" >
                            <span>К книге</span>
                        </a>
                    </div>
                    <div class="row_container row_container_element button_top">
                        <a href="https://oz.by/books/" class="cta">
                            <span>В магазин</span>
                        </a>
                    </div>
                </div>
                <div class="row_container_element__expanding"></div>
            </div>
            <div class="row_container_element__expanding--custom"></div>
        </div>
        <div class="column_container column_container_element">
            <div class="column_container_element title">
                <img src="{% static 'Main/img/к тебе нежно, обложка книги.webp' %}" alt="К тебе нежно, обложка книги.">
                <h2> Где найти поддержку и опору в наше то время ? В книге "К себе нежно" есть ответ - в себе.</h2>
            </div>
            <div class="column_container column_container_element__expanding review">
                <h2>Рецензия </h2>
                <div class="review_body">
                    <img src="{% static 'Main/img/к тебе нежно, стилизованные сердечки.webp' %}" alt="К тебе нежно, стилизованные сердечки.">
                    <div class="review_body__epigraph--left">
                        <p class="review_body__epigraph"> В отличии от многих мотивационных книг, и книг по саморазвитию, эта предлагает не только советы и мысли из глубин сознания автора, но и практические занятия, так называемый "<i>Марафон нежности</i>".</p>
                    </div>
                    <div class="review_body__epigraph--right">
                        <p class="review_body__epigraph"> <i>Марафон нежности</i> - это сборник упражнений и заданий на месяц, в течении которого вы узнаете, а главное поймете себя, расставив все точки над "<i>Я</i>".</p>
                    </div>
                    <div class="review_body__epigraph--left">
                        <p class="review_body__epigraph"> О чём собственно говоря книга? Это <b>книга-учебник</b>, <b>книга-наставник</b>. Она поможет вам разобраться в себе, полюбить себя, поддержит в тяжелую минуту и утешит  в минуту скорби.</p>
                    </div>
                    <div class="review_body__epigraph--right">
                        <p class="review_body__epigraph"> Если вы замечаете за собой поведение того, кто пытается приспособиться к другим во вред <i>себе</i>, то эта книга расскажет вам почему, а главное как сделать так, чтобы перестать подстраиваться <i>под других</i>.</p>
                    </div>
                    <div class="review_body__epigraph--left">
                        <p class="review_body__epigraph"> Она научит вас взаимодействовать с миром из принципа <i>нежности к себе</i>; Что вы можете терпеть, а что нет; что вас радует и удивляет, а что огорчает и вводит в тоску.</p>
                    </div>
                    <div class="review_body__epigraph--right">
                        <p class="review_body__epigraph"> И кому как не нашей соотечественнице, <i>белоруске <b>Ольге Примаченко</b></i> знать, какого это, жить в наше непростое время.</p>
                    </div>
                </div>
            </div>
            <div class="column_container column_container_element carousel">
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        {% for comment in comments %}
                        {% if comment.id == 1%}
                        <!-- This is needed because I do not want to display (or hide all comments at once)-->
                        <!-- So start with first comment -->
                        <div class="comment carousel__slide current-slide" id="comment">
                        {% else %}
                        <div class="comment carousel__slide" id="comment">
                        {% endif %}
                            <div class="comment_header">
                                <div class="comment_header__rating">
                                    <div class="rate">
                                        <!-- This is work around for numeric loop-->
                                        {% for i in '12345'|make_list %}
                                            <!-- We need convert our int into string for comparison to work-->
                                            {% if comment.rating|slugify >= i  %}
                                                <label class="selected_rating" id="star{{i}}" title="{{i}} star"></label>
                                            {% else %}
                                                <label class="" id="star{{i}}" title="{{i}} star"></label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="comment_header__time">{{ comment.publishDate }}</div>
                            </div>
                            <div class="comment_body">{{ comment.content }}</div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column_container carousel__button carousel__button--right">
                    <div class="column_container_element__expanding"></div>
                    <div class="column_container column_container_element">
                        <div class="button_top cta" id="nextComment">
                            <span>Ещё</span>
                        </div>
                    </div>
                    <div class="column_container_element__expanding"></div>
                </div>
            </div>
            <div class="column_container_element">
                <div class="review_body">
                    <div class="review_body__epigraph--center">
                        <p class="review_body__epigraph">Сейчас действует <i>20%</i> скидка на книгу, плюс <i>кэшбэк в размере 10%</i> от суммы приобретенной книги.</p>
                        <p class="review_body__epigraph">А для всех ценителей <b>твердых книжек</b> и <b>приятного запаха</b> после печатного станка, книгу можно заказать на <a href="https://oz.by/books/more10967153.html"><b>OZ.by</b></a>  с <i>бесплатной доставкой по Минску</i> или если не доверяете курьером, <i>самовывозом</i>.</p>
                    </div>
                </div>
            </div>
            <div class="row_container column_container_element">
                <div class="row_container_element__expanding"></div>
                <div class="row_container_element button_bottom">
                    <a href="https://oz.by/books">К книге</a>
                </div>
                <div class="row_container_element__expanding"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'Main/js/landing.js' %}"></script>
</body>
</html>
