@import url(zero.css);
@import url(buttons.css);
@import url(stars.css);
@import url(containers.css);
@import url(stycky.css);
@import url(comment.css);
@import url(carousel.css);
@import url(debug.css);




.title{
    text-align: center;
    position: relative;
    height: 600px;
}
.title > h2{
    position: absolute;
    font-weight: 900;
    font-size: 40px;
    top:50%;
    left:50%;
}

.review > h2{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 40px;
}

.wrapper{
    font-family: "Rubik";
    font-size: 24px;
    color: #000000;
    min-height: 100%;
}

@media  screen and (min-width: 801px) {

.sticky_top > .row_container_element__expanding--custom{
    padding: 10px;
    margin-right: 10px;
    flex: 0 0 auto;
}

}
@media screen and (max-width: 800px) {

*{
    font-size: 16px;
}    
.title > h2{
    font-size: 30px;
    left: 0;
}
.review > h2{
    font-size: 30px;
}

.sticky_top > .row_container_element__expanding--custom{
    padding: 10px;
    margin-right: 10px;
    flex: 1 0 auto;
}

}